{% extends '::base.html.twig' %}
    {% block maincontenttitle%}
        <h1>About</h1>
    {% endblock %}
    {% block maincontentdata %}
        <p>Author: Abel Guzman Sanchez</p>
        <p>Author's Web: <a href="http://www.abelworld.com">http://www.abelworld.com</a></p>
        <p>Lisence: <a href="http://opensource.org/licenses/MIT">MIT</a></p>
        <p>Thanks to every one who contributed to this software:</p>
        <p>Mr. Morapedi</p>
        <p>Mr. Ovuya</p>
        <p>The terminal benefits department</p>
        <p>The IT Department staff</p>
    {% endblock %}